body{
    background:conic-gradient(at center, rgb(3, 30, 230), rgb(133, 53, 18), rgb(127, 158, 35),  rgb(8, 156, 242),  rgb(57, 57, 125), rgb(107, 107, 136)); 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.table{
  height: 100%;
  display: block;
}
.table h2{
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 3px 9px 15px rgba(10, 10, 10, 0.5);
}
table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  border: 3px solid #ddd;
  box-shadow: 2px 7px 15px;
}
thead{
  background-color: #2d06f0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
thead:hover{
  transform: scale(1.05);
  background-color: #333;
}
tbody{
  background-color:inherit;
  text-transform: capitalize;
  text-align: left;
  font-size: 1.09rem;
}
tbody:hover{
  transform: scale(1.05);
  color: #fff;
}
.content{
    text-align: center;
    justify-content: center;
    width: 300px;
    padding: 10px;
    height: 200px;
    margin: 20px auto;
    border: 20px green solid;
    border-radius: 10px;
    animation: borderDraw 2s linear infinite;
    box-shadow: 0 10px 30px rgba(240, 238, 238, 0.1);
    
    background:linear-gradient(to right, red, orange);
}
.content h2{
    text-transform: capitalize;
    text-align: center;
}
@keyframes borderDraw {
  0% {
    border-image-source: linear-gradient(to right, red, orange);
  }
  100% {
    border-image-source: linear-gradient(to left, red, orange);
  }
}
/*multi cadrs*/
.products{
  background-color: gray;
}
.products h2{
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px;
}
.container{
  display: flex;
  text-align: center;
  background: gray;
  padding: 10px;
  margin: 10px auto 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(240, 238, 238, 0.1);
}
.cards{
  text-align: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 2px solid gray;
  padding: 20px 10px;
  border-radius: 10px;
  margin: 5px;
}
.cards h1{
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  
}
.cards p{
  text-align: center;
  font-size: 1rem;
  color: #333;
}
.cards button{
  background-color: #090909;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
button:hover {
  background-color: #1b08eb;
}
.cards:hover{
  transform: scale(1.05);
  background: conic-gradient(at center, rgb(3, 30, 230), rgb(133, 53, 18), rgb(127, 158, 35), rgb(8, 156, 242), rgb(57, 57, 125), rgb(107, 107, 136));
}
@media (max-width: 768px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .cards{
    width: 90%;
    margin: 10px auto;
  }
  .content{
    width: 90%;
    margin: 10px auto;
  }
  table{
    width: 90%;
    margin: 10px auto;
  }
  .products{
    width: 90%;
    margin: 10px auto;
  }
}
@media (max-width: 468px){
  .container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .cards{
    width: 70%;
    margin: 10px auto;
  }
  .products{
    width: 70%;
    margin: 10px auto;
  }
  table{
    width: 70%;
    margin: 10px auto;
  }
  .content{
    width: 70%;
    text-align: center;
  }
  .form{
    width: 90%;
  }
  .boxes{
    width: 90%;
  }
}
.boxes{
  width: 300px;
  height: 100%;
  text-align: center;
  justify-content: center;
  background: radial-gradient(ellipse, #ff9a9e, #fad0c4);
  padding: 20px ;
  margin: 20px auto 10px;
  border-radius: 20px;
  align-items: center;
}
.box{
  padding: 20px;
  margin: 20px;
  background: #090909;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.2em;
  border-radius: 5px;
}
.box:hover{
  background-color: #ddd;
  color: #090909;
}
.form{
  background: linear-gradient(115deg, #090909, #333);
  text-align: center;
  justify-content: center;
  align-items: center;

}
.login{
  background: radial-gradient(circle, #ff9a9e, #fad0c4);
  text-align: center;
  justify-content: center;
  align-items: center;
  width:300px;
  margin: 20px auto;
  border-radius: 5px;
}
.login h2{
  text-transform: capitalize;
}
form{
  background: #090909;
  color: rgb(115, 118, 120);
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  text-transform: capitalize;
} 
label{
  text-align: left;
  float: left;
  text-align: start;
}
textarea{
  background-color: #090909;
  color: #ddd;
  width: 200px;
  height: 50px;
}
button{
  width: 100%;
  text-transform: capitalize;
  background-color: #1b08eb;
}